<%= link_to 'Log Out', destroy_user_session_path, method: 'DELETE', class: 'btn btn-danger' %>
<div class="row">

    <div class="col s4">
      <div class="form">
        <h3>Renewal License</h3>
        <%= form_tag renew_permit_path, multipart: true do %>
          <div class="row">
            <div class="col s6">
              <label for="">Business Name</label>
              <%= text_field_tag :business_name, nil, :required => true %></br>
              <label for="">Business ID</label>
              <%= text_field_tag :bid_number, nil, :required => true  %></br>
              <label for="">Amount</label>
              <%= number_field_tag :amount, nil, :required => true  %></br>
              <label for="">Date Paid</label>
              <%= date_field_tag :date_paid, nil, :required => true  %></br>
            </div>
            <div class="col s6">
              <label for="">Valid From</label>
              <%= date_field_tag :valid_from, nil, :required => true  %></br>
              <label for="">LID</label>
              <%= text_field_tag :lid, nil, :required => true  %>
              <%= select_tag :schedule_id, options_from_collection_for_select(@schedule, "id", "name") %></br>
              <label for="">Physical Address</label>
              <%= text_field_tag :physical_address %></br>
              <label for="">Plot Number</label>
              <%= text_field_tag :plot_number %></br>
            </div>
          </div>
          <div class="">
            <%= submit_tag 'Save' %>
          </div>
        <% end %>
      </div>
    </div>
  <div class="col s4">
    <div class="form">
      <h3>New License</h3>
      <%= form_tag create_permit_path, multipart: true do %>
        <div class="row">
          <div class="col s6">
            <label for="">Business Name</label>
            <%= text_field_tag :business_name, nil, :required => true  %></br>
            <label for="">Business ID</label>
            <%= text_field_tag :bid_number, nil, :required => true  %></br>
            <label for="">Amount</label>
            <%= number_field_tag :amount, nil, :required => true  %></br>
            <label for="">Date Paid</label>
            <%= date_field_tag :date_paid, nil, :required => true  %></br>
          </div>
          <div class="col s6">
            <label for="">Type of License</label>
            <%= select_tag :schedule_id, options_from_collection_for_select(@schedule, "id", "name") %></br>
            <label for="">Physical Address</label>
            <%= text_field_tag :physical_address %></br>
            <label for="">Plot Number</label>
            <%= text_field_tag :plot_number %></br>
          </div>
        </div>
        <div class="">
          <%= submit_tag 'Save' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
    <div class="business-details">
      <h3>Licenses Due</h3>
      <table class="striped">
        <thead>
          <th>S/No</th>
          <th>Control No</th>
          <th>Business Name</th>
          <th>BID No</th>
          <th>LID</th>
          <th>Type of License</th>
          <th>Amount</th>
          <th>Date Paid</th>
          <th>Valid From</th>
          <th>Exceptions</th>
          <th>Renewal</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <% @permits.each do |permit| %>
          <tr>
              <td><%= permit.serial_number %></td>
              <td><%= permit.control_number %></td>
              <td><%= permit.business_name %></td>
              <td><%= permit.bid_number %></td>
              <td><%= permit.lid %></td>
              <td><%= permit.licence_type %></td>
              <td><%= number_to_currency(permit.amount, :unit => 'KES ') %></td>
              <td><%= permit.date_paid %></td>
              <td><%= permit.valid_from %></td>
              <td><%= permit.exceptions %></td>
                <% if permit.is_renewal == true %>
                  <td><label class="label label-primary">Renewal Permit</label></td>
                <% else %>
                  <td><label class="label label-success">New Permit</label></td>
                <% end %>
              <% if permit.printed == false %>
                <td>
                  <%= link_to 'Print New', print_permit_new_path(permit.id), class: 'btn btn-primary', target: '_blank' %>
                  <%= link_to 'Delete', delete_permit_path(permit.id), method: 'DELETE', class: 'btn btn-danger' %>
                  
                </td>
              <% else %>
                <td><label for="">Printed</label></td>
              <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

<% if current_user == User.first %>
  <div class="form">
    <h3>Upload Scedule</h3>
    <%= form_tag index_upload_schedule_path, multipart: true do %>
      <label for="">Upload Files</label>
      <%= file_field_tag :file%>
      <%= submit_tag 'Upload' %>
    <% end %>
  </div>
<% end %>
