<!DOCTYPE html>
<html>
  <head>
    <title>PrintLicenses</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <script type="text/javascript" src="html2canvas-master/dist/html2canvas.js"></script> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
